{% extends 'album/base.html' %}

{% block body %}
    {% include 'album/navbar.html' %}
    <div class="container-fluid section-index">
    {% if album_list %}
        <h1>Lista Twoich albumów</h1>
        <ul class="col-sm-10 col-sm-offset-1">

            {% for item in album_list %}

                <li>
                    <a href="{% url 'album:detail' item.id %}"><img src="{{ item.main_photo.url }}" alt="" class="img-responsive"></a>
                    <div class="album-title">
                        <p>{{ item.title }}</p>
                        <p>{{ item.date }}</p>
                    </div>
                    <form action="{% url 'album:album-delete' item.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="album_id" value="{{ item.id }}">
                        <button type="submit" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </li>

            {% endfor %}

        </ul>

    {% else %}

        <h1>Nie masz żadnych Albumów </h1>

    {% endif %}
    </div>
    
{% endblock %}